$colors: (
        colorname: (
                black: #252525,
                white: #fff,
                gold: #E0BEA2,
                activegold: #CCA88A,
                gray: #F5F5F5
        )
)