@use "assets/style/breakpoints";

.typography {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  line-height: normal;
  color: #252525;

  &-14 {
    &--bold {
      font-weight: 700;
    }
    font-size: 14px;
    font-weight: 300;
    @include breakpoints.media(mobile) {
        font-size: 12px;
      }
  }

  &-16 {
    &--bold {
      font-weight: 700;
    }
    font-size: 16px;
    font-weight: 300;
    @include breakpoints.media(mobile) {
      font-size: 14px;
    }
  }

  &-18 {
    &--bold {
      font-weight: 700;
    }
    font-size: 18px;
    font-weight: 300;
    @include breakpoints.media(mobile) {
      font-size: 16px;
    }
  }

  &-20 {
    &--bold {
      font-weight: 700;
    }
    font-size: 20px;
    font-weight: 300;
    @include breakpoints.media(mobile) {
      font-size: 18px;
    }
  }

  &-36 {
    &--bold {
      font-weight: 700;
    }
    font-size: 36px;
    font-weight: 300;
    @include breakpoints.media(mobile) {
      font-size: 24px;
    }
  }
}
